body{
    width: 100%;
    background-image: url(images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* filter: grayscale(1); */
}
.main-cont{
    border: 12px double white;
    box-shadow: 2px 2px 25px rgb(255, 255, 255), -2px -2px 17px  rgb(255, 255, 255);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    height: 80vh;
    margin-top: 7%;
    margin-bottom: 7%;
    overflow-y: scroll;
}
#list{
    overflow-x: hidden;
    background:linear-gradient(90deg,rgb(248, 228, 231),rgb(172, 27, 51));
    border-radius: 15px !important;
}
.row{
    padding-top: 12px !important;
}
.color{
    background:linear-gradient(90deg,rgb(248, 228, 231),rgb(172, 27, 51));
    color: white !important;
}
.head{
    color: rgb(174, 13, 70);
}
#add{
    width: 26px;
    border-radius: 50%;
}
.btn1{
    border: none;
    background: none;
}
#todo{
    border-radius: 18px;
    padding: 6px;
    padding-left: 12px;
    border: none;
    width: 80%;
}
.checkbox{
    accent-color: rgb(239, 82, 184);
    text-align: right;
    display: flex;
    justify-content:space-evenly;
}
#finished{
    width: 8% !important;
    height: 5vh;
}
#dlt{
    width: 22px;
    height: 4vh;
    margin-right: 5px;
}
#edit,#tick{
    width: 26px;
    height: 4vh;
    margin-right: 5px;
}
